

<td > {{item.estado}} </td>
<!-- <td > <img src="{{item.foto}}" alt="foto" class="imagen"></td> -->
<td > {{item.fecha|date:"dd/MM/yyyy"}} </td>
<td > {{item.hora}} </td>
<td > {{item.usuario}} </td>
<td > {{item.profecional}} </td>
<td > {{item.especialidad}} </td>
<td > {{item.sala}} </td>
<td class="espacio"> 
   <form>
        <button mat-mini-fab color="warn" id="eliminar{{item.id}}"  (click)="elim(item)">
            <mat-icon>delete</mat-icon>
    </button>
        <button mat-flat-button color="accent" id="qr{{item.id}}"  (click)="manejadora(item)">
            <mat-icon>graphic_eq</mat-icon>
            <span>QR</span>
        </button>
        <button mat-flat-button color="primary" id="resena{{item.id}}"  (click)="resena(item)">
            <mat-icon>comment</mat-icon>
            <span></span>
            <span> Atender</span>
        </button>
    </form>
 
</td>