<h2>Condiciones de aprobación</h2>
<p>Aprobación directa,
    Subido a la web,
    Login,
    Readme,
    Estilos,
    Imágenes.
    <li><ul>1 - Poder registrarse como usuario con imagen</ul>
        <ul>2 - Pedir un turno</ul>
        <ul>3 - Ser atendido por el profesional.</ul>
        <ul>4 - Que el profesional guarde una reseña</ul>
        <ul>5 - Que el usuario pueda ver la reseña.</ul>
        <ul>6 - Que el usuario puede cargar la encuesta de satisfacción.</ul>
    </li>
     </p>
<H2> Final , lo anterior más…</H2>
    <p><li><ul>7 - Poder descargar archivos PDF</ul>
            <ul>8 - Poder descargar archivos .csv</ul>
            <ul>9 - Validaciones de formularios</ul>
            <ul>10- Captcha (Google y propio)</ul>
            <ul>11- Pipe(3), Directivas(3), Spinner y Favicon</ul>
            <ul>12- Estadísticas</ul>
        </li>
    </p><br>
        <button mat-raised-button color="primary" (click)="cerrar()">
            <span>Salir</span><mat-icon>exit</mat-icon>
        </button>
