
<!-- <mat-card-title> RESEÑAS</mat-card-title> -->
<h2>Reseñas</h2>
<div #contenido>
  

    <table id="miTabla">
   <thead id="titulo"> 
       <tr>
           <td  *ngFor="let items of titulos"> {{ items | titlecase }} </td>
       </tr>
    </thead> 
    <tbody id="cuerpo">
       <tr  *ngFor="let item of Listado">
        <td > {{item.fecha | date:"dd/MM/yyyy"}} </td>
       <!--  <td > <img src="{{item.foto}}" alt="foto" class="imagen"></td> -->
        <td > {{item.hora}} </td>
        <td > {{item.profecional }} </td>
        <td > {{item.especialidad }} </td>
        <td > {{item.usuario}} </td>
        <td id="reseña"> {{item.resena}} </td>
        <td><button mat-flat-button color="primary" id="encuesta{{item.id}}"  (click)="encuesta(item)" *ngIf="usuario.tipo==='cliente' && !item.encuestado;else encuestado">
            <mat-icon>comment</mat-icon>
            <span></span>
            <span> Encuesta</span>
        </button>
        <ng-template #encuestado> 
            Ya Encuestado!
        </ng-template>
    </td>
        
    </tr>
   </tbody>
   
   </table>
   </div> <!-- //contenido -->
   <br>
   
 
   <div class="example-button-row">
   <button mat-raised-button color="primary" aria-label="PDF" (click)="exportarPDF()">
       <mat-icon>image</mat-icon>
       <span>Esportar a PDF</span>
   </button> <span></span>
   <button mat-raised-button color="primary" aria-label="CSV" (click)="exportarCSV()">
       <mat-icon>archive</mat-icon>
       <span>Esportar a CSV</span>
   </button>
   </div>
